extends layout.pug

include include/auth-input.pug

append head
  script(src="/public/js/interests.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/interests.css")

block content
    #banner
        #banner-content
            img(id="logo" src="../public/logo.png")
            #progress-bar
                #start Start
                #bar
                #progress
                #finish Finish
    #interests
        #title
        #topics
        button(type="submit")
