doctype
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="/public/css/reset.css")
      link(rel="icon" href="/public/favicon.ico" type="image/ico")
      <script src="https://kit.fontawesome.com/ac44607c46.js" crossorigin="anonymous"></script>
      title Queryou
  body
    block content
