extends layout.pug

include include/nav-bar.pug

append head
  //- script(src="/public/js/notifications.js" type="module" defer)
  script(src="/public/js/logout.js" type="module" defer)
  script(src="/public/js/nav-btns.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/notifications.css")
  link(rel="stylesheet" href="/public/css/nav-bar.css")

block content
  +navBar()
  h1 Notifications Page Coming Soon!
  div.log-out-btn-container
    div.log-out Log-out
