h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 20%;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 500;
  color: #636466;
}

.log-out{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 20%;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 500;
  color: #636466;
  cursor: pointer;
}

.log-out-btn-container{
  display: flex;
  justify-items: center;
  align-items: center;
}

/* .nav-bar-user-image-inner-container{
  box-sizing: border-box;
  display: block;
  direction: ltr;
  width: 24px;
  height: 49px;
}

.nav-bar-user-image-inner-container{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  direction: ltr;
  width: 24px;
  height: 24px;
}*/

/* .home-bttn-container{
  width: 97;
}

.answers-bttn-container{
  width: 106px;
}

.topics-bttn-container{
  width: 103px;
}

.notifications-bttn-container{
  width: 142px;
} */

/* .search-bar-outer-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
  height: 36px;
  width: 320px;
}

.search-bar-inner-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  border-width: 0px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  color: rgb(40, 40, 41);
}

.create-question-button-container{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 122px;
  height: 30px;
}

.create-question-button{
  box-sizing: border-box;
  display: block;
  width: 114px;
  height: 30px;
  background-color: #FF7E2B;
  border-radius: 1000px;
  padding: 5px 15px;
  margin-left: 8px;
  cursor: pointer;
}

.create-question-text-container{
  color: white;
} */
