#banner {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 50px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#banner-content {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
}

#progress-bar{
    display: inline-flex;
    align-items: center;
    margin-left: 62px;
    padding-right: 16px;
    padding-left: 16px;
}

#bar{
    height: 10px;
    width: 600px;
    background-color: #e6e7e8;
    border-radius: 1000px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
}
#progress {
    position: absolute;
    height: 10px;
    width: 300px;
    background-color: #2e69ff;;
    border-radius: 1000px;
}

#start, #finish{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 15px;
    color: rgb(40, 40, 41);
}



#finish{

}

#logo {
    height: 50px;
}

#topics{
    overflow-x: scroll;
}
