body {
    background-image: url("https://payload.cargocollective.com/1/14/451635/13818327/Hermes_2000.jpg");
    background-size: 2560px;
    background-position: center;
    background-position-y: -540px;
    background-repeat: no-repeat;
    overflow: hidden;
}

input, textarea {
    margin-bottom: 12px;
    background-color: #eeeeee;
    outline: 0;
    border: 1.5px solid #e2e2e2;
    border-radius: 4.5px;
    padding: 4.5px 12px;
    box-shadow: inset 0 1.5px 1.5px rgba(200,200,200,0.3);
}

#login-form{
    border-left: solid lightgray 1px;
    padding-left: 27px;
}

#signup-form{
    padding-right: 27px;
}

#banner {
    position: absolute;
    top: 0;
    left: 0;
    background: #5b6770;
    display: inline-block;
    width: 100%;
    font-weight: 500;
    opacity: 0;
    transition:  all 1s ease-in-out;
}

#banner.isVisible {
    opacity: 1;
}

#errors-container{
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: transparent;
}

#errors-container li{
    color: #fff;
    background-color: transparent;
}

input {
    height: 15px;
    margin-top: 5px;
}

input[name="firstName"]{
    margin-right: 4.5px;
}

a {
    color: #2b6dad;
    font-size: 13.5px;
}

#forms {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 650px;
    height: 702px;
    padding-top: 18px;
    box-shadow: 0 0 4.5px #888;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    background-color: white;
    justify-items: center;
}

#form-sheets{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-self: center;
}


#name-inputs{
    display: flex;
}
#name-inputs input{
    max-width: 95px;
}

.label {
    margin-bottom: 12px;
    color: black;
    font-weight: bold;
    text-align: start;
    align-self: center;
    justify-self: flex-start;
    font-size: 13px;
}

#logo {
    height: 100px;
    align-self: center;
}

.login {
    position: relative;
    top: -18.5px;
    left: 220px;
}

#tagline{
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 12px 0 48px;
    color: #949494;
    text-align: center;
    font-size: 18px;
}

.auth-input{
    display:flex;
    flex-direction: column;
    align-self: center;
    color: #666;
    max-width: 250px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    background-color: #fafafa;
}

#email, #password {
    display:flex;
    flex-direction: column;
    align-self: center;
    color: #666;
    width: 254px;
    height: 21px;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 12px;
    text-transform: none;
    font-family: inherit;
    font-weight: 200;
    background-color: #fafafa;
    margin-top: 8px;
    margin-bottom: 30px;

}


#signup-form div{
    margin-top: 8px;
}

#cancel {
    align-self: center;
    margin-left: 132px;
    font-size: 13px;
}

button {
    font-size: 15px;
    height: fit-content;
    width: fit-content;
    border-radius: 3px;
    box-shadow: 0 1.5px 1.5px 0 rgba(200,200,200,0.2);
    margin-left: 8px;
    display: inline-block;
    font-weight: 550;
    outline: 0;
    padding: 4.5px 6px 6px 4.5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #3e78ad;
    color: #fff;
    border: 1px solid #3a66ad;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
    align-self: flex-start;
}

.demo {
    position: absolute;
    margin-top: 133px;
    margin-left: 28px;
}
