body {
    background-image: url("https://payload.cargocollective.com/1/14/451635/13818327/Hermes_2000.jpg");
    background-size: cover;
    background-position-y: -360px;
    background-repeat: no-repeat;
}

input, textarea {
    margin-bottom: 8px;
    background-color: #eeeeee;
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 3px 8px;
    box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);

}

input {
    height: 10px;
}

a {
    color: #2b6dad;
}

#signup-form {
    /* display: grid;
    grid-template-areas:
    "logo logo logo logo"
    "tagline tagline tagline tagline"
    ". label . ."
    ". firstname firstname ."
    ". lastname lastname ."
    ". username username ."
    ". email email ."
    ". description description ."
    ". password password ."
    ". conpassword conpassword ."
    ". cancel button ."
    ". . . .";
    grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 90px 90px 1fr; */
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 450px;
    height: 490px;
    padding-top: 25px;
    box-shadow: 0 0 5px #888;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 96px;
    background-color: white;
    justify-items: center;
}


#label {
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
    text-align: start;
    width: 180px;
    align-self: center;
}



#logo {
    width: 244px;
    align-self: center;
    /* grid-area: logo; */
}

#tagline{
    /* grid-area: tagline; */
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 8px 0 32px;
    color: #949494;
    text-align: center;
}

#label {
    justify-self: flex-start;
    /* grid-area: label; */
}

.auth-input{
    display:flex;
    flex-direction: column;
    align-self: center;
    color: #666;
    max-width: 180px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 9px;
}
/*
div[wfd-id="14"]{
    grid-area: email;
}
div[wfd-id="12"]{
    grid-area: username;
}
div[wfd-id="10"]{
    grid-area: firstname;
}
div[wfd-id="8"]{
    grid-area: lastname;
}
div[wfd-id="6"]{
    grid-area: description;
}
div[wfd-id="4"]{
    grid-area: password;
}
div[wfd-id="2"]{
    grid-area: conpassword;
} */


#cancel {
    /* grid-area: cancel; */
    width: 180px;
    align-self: center;
}

button {
    height: fit-content;
    /* grid-area: button; */
    width: fit-content;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    display: inline-block;
    font-weight: 500;
    outline: 0;
    padding: 3px 7px 4px 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #3e78ad;
    color: #fff;
    border: 1px solid #3a66ad;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
    align-self: flex-end;
    position: relative;
    top: -20px;
    left: -135px;
}
