h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 20%;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 500;
  color: #636466;
}

.log-out{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 20%;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  font-size: 15px;
  font-weight: 500;
  color: #636466;
  cursor: pointer;
}

.log-out-btn-container{
  display: flex;
  justify-items: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

#page-div{
  padding: 30px 24px 24px 24px;
  width: 1002;
  margin-left: auto;
  margin-right: auto;
}

#your-topics-container {
  width: 709px;
  height: 100%;
  border: solid 1px #dee0e1!important;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}



#your-topics-title{
  font-size: 18px;
  font-weight: bold;
  color: #282829;
  padding: 8px 16px 0px 16px;
}

.topic-logo{
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.topic-name {
  line-height: 32px;
  font-weight: bold;
  font-size: 13px;
  color: #282829;
}

.topic-container {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #dee0e1;
  padding-top: 5px;;
  padding-bottom: 5px;
}

.topic-container:hover{
  background-color: rgba(0,0,0,0.03)!important;
}

.topic-logo {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 16px;
  margin-bottom: 6px;

}

#create-topic {
  background-color: white;
  height: 30px;
  width:fit-content;
  padding: 5px 15px 5px 10px;
  margin-right: 8px;
  box-sizing: border-box;
  border: solid 1px #2e69ff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-top: 4px;
}

#create-topic *{
  color: #2e69ff;
}

#discover-topics {
  width: 709px;
  margin-left: auto;
  margin-right: auto;
}
#discover-title{
  font-size: 21px;
  color: #282829;
  font-weight: bold;
}
#suggested-topics{
  font-size: 15px;
  font-weight: 500;
  color: #282829;
}


#discover-topics-container{
  width: 709px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.topic-tile{
  height: 234px;
  width: 167px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
  border-style: solid;
    border-width: 1px;
    border-color: #dee0e1;
    background-color: white;
}

.topic-preview{
  background-image: url("../images/topic.jpg");
  width: 167px;
  height: 50px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.topic-tile-logo{
  background-image: url("../images/topic.jpg");
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: solid 2px white;
  position: relative;
  top: -20px;
  left: 65px
}


.topic-title {
  top: -11px;
  position: relative;
  font-weight: bold;
  font-size: 13px;
  color: #282829;
  text-align: center;
}

.follow-button.followed{
  position: relative;
  bottom: -84px;
  height: fit-content;
  padding: 5px 15px 5px 10px;
  background-color: #ebf0ff;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  border: solid 0px rgb(195, 195, 195);
  box-shadow: rgba(46, 105, 255, 0.09) 0px 0px 0px 1px inset;
}

.followed .button-text{
  padding: 0px 5px 0px 5px;
  color: #2e69ff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 500;
}

.followed .follow-count{
  color: #2e69ff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.follow-button.unfollowed{
  position: relative;
  bottom: -84px;
  height: fit-content;
  padding: 5px 15px 5px 10px;
  background-color: rgb(235, 236, 237);
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  border: solid 0px rgb(195, 195, 195);
  box-shadow: rgba(46, 105, 255, 0.09) 0px 0px 0px 1px inset;
}

.unfollowed .button-text{
  padding: 0px 5px 0px 5px;
  color: #636466;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 500;
}

.unfollowed .follow-count{
  color: #636466;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#create-topic-div{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(36,36,36,0.9);
  z-index: 3;
}

.hidden{
  display: none;
}

#create-topic-form-div{
  position: relative;
  box-sizing: border-box;
  width: 608px;
  height: 486px;
  top: -700px;
  background-color: white;
  z-index: 4;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

#form-instructions {
  font-size: 18px;
  font-weight: bold;
  color: rgb(40, 40, 41);
  padding: 15px 16px 0px;
}

#form-instructions-continued {
  color: #636466;
  font-size: 15px;
  padding: 6px 16px 8px;
}

.label {
  font-weight: 500;
      font-size: 15px;
      color: #282829;
      padding: 15px 16px 8px;
}

.create-input{
  border: none;
  border-bottom: solid 1px #ebf0ff;
  width: 576px;
  margin: 15px 16px 8px;
  padding-bottom: 12px ;
}


#create-topic-footer{
  position: absolute;
  bottom: 0px;
  width: 608px;
  height: 54px;
  border-top: solid 1px #ebf0ff;
}


#create-topic-button{
  position: relative;
  box-sizing: border-box;
  direction: ltr;
  font: inherit;
  outline: none;
  padding: 7px 20px;
  border-width: 0px;
  color: white;
  border-radius: 1000px;
  background-color: #2e69ff;
  font-size: 13px;
  font-weight: 600;
  margin: 10px;
  height: 38px;
  right: -510px;
}


#create-topic-button:hover{
  cursor: pointer;
}


#model-magic{
  position: relative;
}


button:focus{
  outline: none;
}
